.t-swipe-cell {
  position: relative;
  overflow: hidden;
}
.t-swipe-cell__left,
.t-swipe-cell__right {
  position: absolute;
  top: 0;
  height: 100%;
}
.t-swipe-cell__left {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}
.t-swipe-cell__right {
  right: 0;
  transform: translate3d(100%, 0, 0);
}
.t-swipe-cell__content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--td-spacer-2, 16px);
}
:deep(.t-swipe-cell__icon) {
  font-size: var(--td-font-size-xl, 20px);
}
:deep(.t-swipe-cell__icon) + .t-swipe-cell__text:not(:empty) {
  margin-left: var(--td-spacer, 8px);
  font-size: var(--td-font-size-base, 14px);
  line-height: 22px;
}
