.t-divider {
  display: flex;
  color: var(--td-divider-color, var(--td-bg-color-component, var(--td-gray-color-3, #e7e7e7)));
  border-color: var(--td-divider-color, var(--td-bg-color-component, var(--td-gray-color-3, #e7e7e7)));
  border-style: var(--td-divider-content-line-style, solid);
  border-width: 0;
}
.t-divider::before,
.t-divider::after {
  content: '';
  display: block;
  flex: 1;
  box-sizing: border-box;
  border: inherit;
  border-color: inherit;
  border-style: inherit;
}
.t-divider--horizontal {
  align-items: center;
  margin: var(--td-divider-horizontal-margin, 10px) 0;
}
.t-divider--horizontal::before,
.t-divider--horizontal::after {
  border-top-width: var(--td-divider-border-width, 1px);
  transform: scaleY(0.5);
  transform-origin: center;
}
.t-divider--horizontal .t-divider__content:not(:empty) {
  margin: 0 var(--td-divider-content-margin, var(--td-spacer-1, 12px));
}
.t-divider--vertical {
  flex-direction: column;
  height: 14px;
  margin: 0 var(--td-divider-vertical-margin, var(--td-spacer, 8px));
}
.t-divider--vertical::before,
.t-divider--vertical::after {
  border-left-width: var(--td-divider-border-width, 1px);
  transform: scaleX(0.5);
  transform-origin: center;
}
.t-divider--vertical-center {
  align-items: center;
  height: 100%;
}
.t-divider--dashed {
  border-style: dashed;
}
.t-divider__content {
  font-size: var(--td-divider-content-font-size, var(--td-font-size-s, 12px));
  line-height: var(--td-divider-content-line-height, 20px);
  color: var(--td-divider-content-color, var(--td-text-color-placeholder, var(--td-font-gray-3, rgba(0, 0, 0, 0.4))));
}
.t-divider--left::before,
.t-divider--right::after {
  max-width: 30px;
}
