.DS_Store
.project
.idea
.vscode
.hbuilderx
node_modules/
unpackage/
dist/

# local env files
.env.dev
.env.*.local

# Log files
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*