.t-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: var(--td-cell-vertical-padding, 16px) var(--td-cell-horizontal-padding, 16px);
  line-height: var(--td-cell-line-height, 24px);
  height: var(--td-cell-height, auto);
  background-color: var(--td-cell-bg-color, var(--td-bg-color-container, var(--td-font-white-1, #ffffff)));
}
.t-cell--bordered::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: var(--td-cell-border-width, 1px) solid var(--td-cell-border-color, var(--td-component-stroke, var(--td-gray-color-3, #e7e7e7)));
  transform: scaleY(0.5);
  transform-origin: bottom;
  left: var(--td-cell-border-left-space, var(--td-cell-horizontal-padding, 16px));
  right: var(--td-cell-border-right-space, 0);
}
.t-cell__description {
  font-size: var(--td-cell-description-font-size, var(--td-font-size-base, 14px));
  line-height: var(--td-cell-description-line-height, 22px);
  color: var(--td-cell-description-color, var(--td-text-color-secondary, var(--td-font-gray-2, rgba(0, 0, 0, 0.6))));
}
.t-cell__description-text {
  margin-top: calc(var(--td-spacer, 8px) / 2);
}
.t-cell__note {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--td-cell-note-color, var(--td-text-color-placeholder, var(--td-font-gray-3, rgba(0, 0, 0, 0.4))));
  font-size: var(--td-cell-note-font-size, var(--td-font-size-m, 16px));
}
.t-cell__title {
  margin-right: var(--td-spacer-2, 16px);
}
.t-cell__title,
.t-cell__note {
  flex: 1 1 auto;
}
.t-cell__title:empty,
.t-cell__note:empty {
  display: none;
}
.t-cell__title-text {
  display: flex;
  font-size: var(--td-cell-title-font-size, var(--td-font-size-m, 16px));
  color: var(--td-cell-title-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
  font-weight: 400;
}
.t-cell__left,
.t-cell__right {
  align-self: stretch;
}
.t-cell__left:not(:empty) {
  margin-right: var(--td-spacer-1, 12px);
}
.t-cell__note:not(:empty) + .t-cell__right {
  margin-left: calc(var(--td-spacer, 8px) / 2);
}
.t-cell__right {
  display: flex;
}
.t-cell__right--middle {
  align-items: center;
}
.t-cell__right--top {
  align-items: flex-start;
}
.t-cell__right--bottom {
  align-items: flex-end;
}
.t-cell--hover {
  background-color: var(--td-cell-hover-color, var(--td-bg-color-secondarycontainer, var(--td-gray-color-1, #f3f3f3)));
}
.t-cell--required {
  font-size: var(--td-cell-required-font-size, var(--td-font-size-m, 16px));
  color: var(--td-cell-required-color, var(--td-error-color, var(--td-error-color-6, #d54941)));
}
