.t-count-down--small.t-count-down--default {
  font-size: var(--td-font-size-base, 14px);
}
.t-count-down--small.t-count-down--round > .t-count-down__item {
  font-size: var(--td-font-size-s, 12px);
}
.t-count-down--small.t-count-down--square > .t-count-down__item {
  font-size: var(--td-font-size-s, 12px);
}
.t-count-down--small.t-count-down--round > .t-count-down__item,
.t-count-down--small.t-count-down--square > .t-count-down__item {
  width: 20px;
  height: 20px;
}
.t-count-down--small.t-count-down--round > .t-count-down__split--dot,
.t-count-down--small.t-count-down--square > .t-count-down__split--dot {
  margin: 0 2px;
  font-size: var(--td-font-size-base, 14px);
  font-weight: 700;
}
.t-count-down--small.t-count-down--round > .t-count-down__split--text,
.t-count-down--small.t-count-down--square > .t-count-down__split--text {
  margin: 0 4px;
  font-size: var(--td-font-size, 10px);
}
.t-count-down--medium.t-count-down--default {
  font-size: var(--td-font-size-m, 16px);
}
.t-count-down--medium.t-count-down--round > .t-count-down__item {
  font-size: var(--td-font-size-base, 14px);
}
.t-count-down--medium.t-count-down--square > .t-count-down__item {
  font-size: var(--td-font-size-base, 14px);
}
.t-count-down--medium.t-count-down--round > .t-count-down__item,
.t-count-down--medium.t-count-down--square > .t-count-down__item {
  width: 24px;
  height: 24px;
}
.t-count-down--medium.t-count-down--round > .t-count-down__split--dot,
.t-count-down--medium.t-count-down--square > .t-count-down__split--dot {
  margin: 0 3px;
  font-size: var(--td-font-size-m, 16px);
  font-weight: 700;
}
.t-count-down--medium.t-count-down--round > .t-count-down__split--text,
.t-count-down--medium.t-count-down--square > .t-count-down__split--text {
  margin: 0 5px;
  font-size: var(--td-font-size-s, 12px);
}
.t-count-down--large.t-count-down--default {
  font-size: 18px;
}
.t-count-down--large.t-count-down--round > .t-count-down__item {
  font-size: var(--td-font-size-m, 16px);
}
.t-count-down--large.t-count-down--square > .t-count-down__item {
  font-size: var(--td-font-size-m, 16px);
}
.t-count-down--large.t-count-down--round > .t-count-down__item,
.t-count-down--large.t-count-down--square > .t-count-down__item {
  width: 28px;
  height: 28px;
}
.t-count-down--large.t-count-down--round > .t-count-down__split--dot,
.t-count-down--large.t-count-down--square > .t-count-down__split--dot {
  margin: 0 6px;
  font-size: 18px;
  font-weight: 700;
}
.t-count-down--large.t-count-down--round > .t-count-down__split--text,
.t-count-down--large.t-count-down--square > .t-count-down__split--text {
  margin: 0 6px;
  font-size: var(--td-font-size-base, 14px);
}
.t-count-down {
  font-family: TCloudNumber, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  display: flex;
}
.t-count-down .t-count-down__item,
.t-count-down .t-count-down__split {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-count-down--square > .t-count-down__split--dot,
.t-count-down--round > .t-count-down__split--dot {
  color: var(--td-error-color, var(--td-error-color-6, #d54941));
}
.t-count-down--square > .t-count-down__split--text,
.t-count-down--round > .t-count-down__split--text {
  color: var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9)));
}
.t-count-down--default {
  color: var(--td-countdown-default-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
}
.t-count-down--square {
  color: var(--td-countdown-round-color, var(--td-text-color-anti, var(--td-font-white-1, #ffffff)));
}
.t-count-down--square > .t-count-down__item {
  border-radius: var(--td-countdown-square-border-radius, var(--td-radius-small, 3px));
  background: var(--td-countdown-bg-color, var(--td-error-color, var(--td-error-color-6, #d54941)));
}
.t-count-down--round {
  color: var(--td-countdown-round-color, var(--td-text-color-anti, var(--td-font-white-1, #ffffff)));
}
.t-count-down--round > .t-count-down__item {
  border-radius: var(--td-countdown-round-border-radius, var(--td-radius-circle, 50%));
  background: var(--td-countdown-bg-color, var(--td-error-color, var(--td-error-color-6, #d54941)));
}
