.t-expired__text {
  color: var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9)));
  font-weight: 600;
}
.t-expired__button {
  display: flex;
  color: var(--td-brand-color, var(--td-primary-color-7, #0052d9));
  box-shadow: none;
  cursor: pointer;
  column-gap: 8px;
  align-items: center;
  height: 32px;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.t-expired__button:hover {
  color: var(--td-brand-color-hover);
}
.t-scanned {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.t-scanned__icon {
  color: var(--td-success-color);
}
