@font-face {
    font-family: "uni";
    src: url("./uni.ttf");
}

@font-face {
    font-family: "thorui";
    src: url("./thorui.ttf");
}

@font-face {
    font-family: "iconfont";
    src: url("./iconfont.ttf");
}

@font-face {
    font-family: "customicons";
    src: url("./customicons.ttf");
}