.t-grid {
  position: relative;
  overflow: hidden;
  background-color: var(--td-grid-bg-color, var(--td-bg-color-container, var(--td-font-white-1, #ffffff)));
}
.t-grid__content {
  width: auto;
}
.t-grid--card {
  margin: 0 16px;
  border-radius: var(--td-grid-card-radius, var(--td-radius-large, 9px));
  overflow: hidden;
}
