.t-pull-down-refresh {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.t-pull-down-refresh__track {
  position: relative;
}
.t-pull-down-refresh__track--loosing {
  transition: transform ease 0.24s;
}
.t-pull-down-refresh__tips {
  position: absolute;
  color: var(--td-pull-down-refresh-color, var(--td-text-color-placeholder, var(--td-font-gray-3, rgba(0, 0, 0, 0.4))));
  font-size: 12px;
  top: 0;
  width: 100%;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.t-pull-down-refresh__tips--loosing {
  transition: height ease 0.24s;
}
.t-pull-down-refresh__text {
  margin: 8px 0 0;
}
