.t-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
:deep(.t-result__icon) {
  font-size: 80px;
}
.t-result__title {
  line-height: var(--td-result-title-line-height, 28px);
  font-size: var(--td-result-title-font-size, var(--td-font-size-xl, 20px));
  font-weight: 700;
  color: var(--td-result-title-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
}
.t-result__thumb:not(:empty) + .t-result__title:not(:empty) {
  margin-top: var(--td-result-title-margin-top, var(--td-spacer-1, 12px));
}
.t-result__description {
  text-align: center;
  color: var(--td-result-description-color, var(--td-text-color-secondary, var(--td-font-gray-2, rgba(0, 0, 0, 0.6))));
  font-size: var(--td-result-description-font-size, var(--td-font-size-base, 14px));
  line-height: var(--td-result-description-line-height, 22px);
}
.t-result__title + .t-result__description:not(:empty) {
  margin-top: var(--td-result-description-margin-top, var(--td-spacer, 8px));
}
.t-result--theme-default {
  color: var(--td-result-icon-default-color, var(--td-brand-color, var(--td-primary-color-7, #0052d9)));
}
.t-result--theme-success {
  color: var(--td-result-icon-success-color, var(--td-success-color, var(--td-success-color-5, #2ba471)));
}
.t-result--theme-warning {
  color: var(--td-result-icon-warning-color, var(--td-warning-color, var(--td-warning-color-5, #e37318)));
}
.t-result--theme-error {
  color: var(--td-result-icon-error-color, var(--td-error-color, var(--td-error-color-6, #d54941)));
}
