.t-badge {
  position: relative;
  display: inline-flex;
  align-items: start;
}
.t-badge--basic {
  z-index: 100;
  padding: 0 var(--td-badge-basic-padding, 4px);
  font-size: var(--td-badge-font-size, var(--td-font-size-xs, var(--td-font-size, 10px)));
  color: var(--td-badge-text-color, var(--td-text-color-anti, var(--td-font-white-1, #ffffff)));
  background-color: var(--td-badge-bg-color, var(--td-error-color, var(--td-error-color-6, #d54941)));
  text-align: center;
  height: var(--td-badge-basic-height, 16px);
  line-height: var(--td-badge-basic-height, 16px);
  font-weight: var(--td-badge-font-weight, 600);
  border-radius: var(--td-badge-border-radius, 2px);
}
.t-badge--dot {
  height: var(--td-badge-dot-size, 8px);
  border-radius: 50%;
  min-width: var(--td-badge-dot-size, 8px);
  padding: 0;
}
.t-badge--count {
  min-width: var(--td-badge-basic-width, 16px);
  white-space: nowrap;
  box-sizing: border-box;
}
.t-badge--circle {
  border-radius: calc(var(--td-badge-basic-height, 16px) / 2);
}
.t-badge__ribbon-outer {
  position: absolute;
  top: 0;
  right: 0;
}
.t-badge--ribbon {
  position: relative;
  display: inline-block;
  transform-origin: center center;
  transform: translate(calc(50% - var(--td-badge-basic-height, 16px) + 0.5px), calc(-50% + var(--td-badge-basic-height, 16px) - 0.5px)) rotate(45deg);
  border-radius: 0;
}
.t-badge--ribbon::before,
.t-badge--ribbon::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  border-bottom: var(--td-badge-basic-height, 16px) solid var(--td-badge-bg-color, var(--td-error-color, var(--td-error-color-6, #d54941)));
  font-size: 0;
}
.t-badge--ribbon::before {
  left: calc(-1 * var(--td-badge-basic-height, 16px) + 0.5px);
  border-left: var(--td-badge-basic-height, 16px) solid transparent;
}
.t-badge--ribbon::after {
  right: calc(-1 * var(--td-badge-basic-height, 16px) + 0.5px);
  border-right: var(--td-badge-basic-height, 16px) solid transparent;
}
.t-badge--bubble {
  border-radius: var(--td-badge-bubble-border-radius, 10px 10px 10px 1px);
}
.t-badge--large {
  font-size: var(--td-badge-large-font-size, var(--td-font-size-s, 12px));
  height: var(--td-badge-large-height, 20px);
  min-width: var(--td-badge-large-height, 20px);
  line-height: var(--td-badge-large-height, 20px);
  padding: 0 var(--td-badge-large-padding, 5px);
}
.t-badge--large.t-badge--circle {
  border-radius: calc(var(--td-badge-large-height, 20px) / 2);
}
.t-badge__content:not(:empty) + .t-has-count {
  transform-origin: center center;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 100%;
  top: 0;
}
.t-badge__content-text {
  display: block;
  line-height: 24px;
  color: var(--td-badge-content-text-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
}
