.t-popover__wrapper {
  display: inline-block;
}
.t-popover {
  position: absolute;
  z-index: 11500;
  overflow: visible;
  transition: 0.2s ease-in-out all;
}
.t-popover__content {
  position: relative;
  padding: var(--td-popover-padding, 12px);
  border-radius: 12rpx;
  box-shadow: var(--td-shadow-3, 0 6px 30px 5px rgba(0, 0, 0, 0.05), 0 16px 24px 2px rgba(0, 0, 0, 0.04), 0 8px 10px -5px rgba(0, 0, 0, 0.08));
  font-size: var(--td-font-size-m, 16px);
  line-height: 24px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
}
.t-popover__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 8px;
}
.t-popover .t-popover--dark {
  color: #fff;
  background: var(--td-font-gray-1, rgba(0, 0, 0, 0.9));
}
.t-popover .t-popover--dark .t-popover__arrow {
  color: var(--td-font-gray-1, rgba(0, 0, 0, 0.9));
}
.t-popover .t-popover--light {
  color: var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9)));
  background: var(--td-bg-color-container, var(--td-font-white-1, #ffffff));
}
.t-popover .t-popover--light .t-popover__arrow {
  color: var(--td-bg-color-container, var(--td-font-white-1, #ffffff));
}
.t-popover .t-popover--brand {
  color: var(--td-primary-color-7, #0052d9);
  background: var(--td-primary-color-1, #f2f3ff);
}
.t-popover .t-popover--brand .t-popover__arrow {
  color: var(--td-primary-color-1, #f2f3ff);
}
.t-popover .t-popover--success {
  color: var(--td-success-color-5, #2ba471);
  background: var(--td-success-color-1, #e3f9e9);
}
.t-popover .t-popover--success .t-popover__arrow {
  color: var(--td-success-color-1, #e3f9e9);
}
.t-popover .t-popover--warning {
  color: var(--td-warning-color-5, #e37318);
  background: var(--td-warning-color-1, #fff1e9);
}
.t-popover .t-popover--warning .t-popover__arrow {
  color: var(--td-warning-color-1, #fff1e9);
}
.t-popover .t-popover--error {
  color: var(--td-error-color-6, #d54941);
  background: var(--td-error-color-1, #fff0ed);
}
.t-popover .t-popover--error .t-popover__arrow {
  color: var(--td-error-color-1, #fff0ed);
}
.t-popover.t-fade-enter-to {
  opacity: 1;
  visibility: visible;
}
.t-popover.t-fade-enter,
.t-popover.t-fade-leave-to {
  opacity: 0;
  visibility: hidden;
}
.t-popover[data-placement^='top'] .t-popover__content {
  margin-bottom: 8px;
}
.t-popover[data-placement^='top'] .t-popover__content--arrow {
  margin-bottom: 12px;
}
.t-popover[data-placement^='bottom'] .t-popover__content {
  margin-top: 8px;
}
.t-popover[data-placement^='bottom'] .t-popover__content--arrow {
  margin-top: 12px;
}
.t-popover[data-placement^='left'] .t-popover__content {
  margin-right: 8px;
}
.t-popover[data-placement^='left'] .t-popover__content--arrow {
  margin-right: 12px;
}
.t-popover[data-placement^='right'] .t-popover__content {
  margin-left: 8px;
}
.t-popover[data-placement^='right'] .t-popover__content--arrow {
  margin-left: 12px;
}
.t-popover[data-placement^='top'] .t-popover__arrow {
  bottom: 0;
  border-top-color: currentColor;
  border-bottom-width: 0;
  margin-bottom: calc(8px * -1);
}
.t-popover[data-placement='top'] {
  transform-origin: 50% 100%;
}
.t-popover[data-placement='top'] .t-popover__arrow {
  left: 50%;
  transform: translateX(-50%);
}
.t-popover[data-placement='top-start'] {
  transform-origin: 0 100%;
}
.t-popover[data-placement='top-start'] .t-popover__arrow {
  left: var(--td-popover-padding, 12px);
}
.t-popover[data-placement='top-end'] {
  transform-origin: 100% 100%;
}
.t-popover[data-placement='top-end'] .t-popover__arrow {
  right: var(--td-popover-padding, 12px);
}
.t-popover[data-placement^='bottom'] .t-popover__arrow {
  top: 0;
  border-top-width: 0;
  border-bottom-color: currentColor;
  margin-top: calc(8px * -1);
}
.t-popover[data-placement='bottom'] {
  transform-origin: 50% 0;
}
.t-popover[data-placement='bottom'] .t-popover__arrow {
  left: 50%;
  transform: translateX(-50%);
}
.t-popover[data-placement='bottom-start'] {
  transform-origin: 0 0;
}
.t-popover[data-placement='bottom-start'] .t-popover__arrow {
  left: var(--td-popover-padding, 12px);
}
.t-popover[data-placement='bottom-end'] {
  transform-origin: 100% 0;
}
.t-popover[data-placement='bottom-end'] .t-popover__arrow {
  right: var(--td-popover-padding, 12px);
}
.t-popover[data-placement^='left'] .t-popover__arrow {
  right: 0;
  border-right-width: 0;
  border-left-color: currentColor;
  margin-right: calc(8px * -1);
}
.t-popover[data-placement='left'] {
  transform-origin: 100% 50%;
}
.t-popover[data-placement='left'] .t-popover__arrow {
  top: 50%;
  transform: translateY(-50%);
}
.t-popover[data-placement='left-start'] {
  transform-origin: 100% 0;
}
.t-popover[data-placement='left-start'] .t-popover__arrow {
  top: var(--td-popover-padding, 12px);
}
.t-popover[data-placement='left-end'] {
  transform-origin: 100% 100%;
}
.t-popover[data-placement='left-end'] .t-popover__arrow {
  bottom: var(--td-popover-padding, 12px);
}
.t-popover[data-placement^='right'] .t-popover__arrow {
  left: 0;
  border-right-color: currentColor;
  border-left-width: 0;
  margin-left: calc(8px * -1);
}
.t-popover[data-placement='right'] {
  transform-origin: 0 50%;
}
.t-popover[data-placement='right'] .t-popover__arrow {
  top: 50%;
  transform: translateY(-50%);
}
.t-popover[data-placement='right-start'] {
  transform-origin: 0 0;
}
.t-popover[data-placement='right-start'] .t-popover__arrow {
  top: var(--td-popover-padding, 12px);
}
.t-popover[data-placement='right-end'] {
  transform-origin: 0 100%;
}
.t-popover[data-placement='right-end'] .t-popover__arrow {
  bottom: var(--td-popover-padding, 12px);
}
.content-placement-top .t-popover[data-placement^='top'] .t-popover__content {
  margin-bottom: 8px;
}
.content-placement-top .t-popover[data-placement^='top'] .t-popover__content--arrow {
  margin-bottom: 12px;
}
.content-placement-bottom .t-popover[data-placement^='bottom'] .t-popover__content {
  margin-top: 8px;
}
.content-placement-bottom .t-popover[data-placement^='bottom'] .t-popover__content--arrow {
  margin-top: 12px;
}
.content-placement-left .t-popover[data-placement^='left'] .t-popover__content {
  margin-right: 8px;
}
.content-placement-left .t-popover[data-placement^='left'] .t-popover__content--arrow {
  margin-right: 12px;
}
.content-placement-right .t-popover[data-placement^='right'] .t-popover__content {
  margin-left: 8px;
}
.content-placement-right .t-popover[data-placement^='right'] .t-popover__content--arrow {
  margin-left: 12px;
}
