/** dropdown-item */
.t-dropdown-item {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  bottom: 0;
  /** 树形结构 */
}
.t-dropdown-item__content {
  display: flex;
  flex-direction: column;
  z-index: 11600;
  overflow: hidden;
}
.t-dropdown-item__popup-host {
  display: block;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.t-dropdown-item__body {
  flex: 1;
  background: var(--td-dropdown-menu-bg-color, var(--td-bg-color-container, var(--td-font-white-1, #ffffff)));
  overflow: auto;
  max-height: var(--td-dropdown-body-max-height, 280px);
}
.t-dropdown-item__body--tree {
  display: flex;
  overflow: hidden;
}
.t-dropdown-item__body--multi {
  padding-top: var(--td-spacer, 8px);
  padding-bottom: var(--td-spacer, 8px);
  overflow-y: auto;
}
.t-dropdown-item__scroll {
  max-height: var(--td-dropdown-body-max-height, 280px);
  width: 100%;
}
.t-dropdown-item__footer {
  display: flex;
  background: var(--td-dropdown-menu-bg-color, var(--td-bg-color-container, var(--td-font-white-1, #ffffff)));
  padding: 16px;
  position: relative;
}
.t-dropdown-item__footer::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: unset;
  left: unset;
  right: unset;
  background-color: var(--td-component-border, var(--td-gray-color-4, #dcdcdc));
}
.t-dropdown-item__footer::after {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleY(0.5);
}
:deep(.t-dropdown-item__footer-btn) {
  flex: 1;
}
:deep(.t-dropdown-item__footer-btn + .t-dropdown-item__footer-btn) {
  margin-left: 16px;
}
.t-dropdown-item__body:empty,
.t-dropdown-item__footer:empty {
  display: none;
}
.t-dropdown-item__tree-item {
  height: var(--td-tree-item-height, 48px);
  line-height: var(--td-tree-item-height, 48px);
  font-size: var(--td-tree-item-font-size, 16px);
  padding-left: 16px;
}
.t-dropdown-item__tree-item--active {
  color: var(--td-tree-item-active-color, var(--td-brand-color, var(--td-primary-color-7, #0052d9)));
}
.t-dropdown-item__mask {
  position: fixed;
  width: 100vh;
  top: 0;
  left: 0;
}
