.t-swiper-nav__dots,
.t-swiper-nav__dots-bar {
  display: flex;
  flex-direction: row;
}
.t-swiper-nav__dots-item,
.t-swiper-nav__dots-bar-item {
  width: var(--td-swiper-nav-dot-size, 6px);
  height: var(--td-swiper-nav-dot-size, 6px);
  background: var(--td-swiper-nav-dot-color, var(--td-font-white-2, rgba(255, 255, 255, 0.55)));
  border-radius: 50%;
  margin: 0 5px;
  transition: all 0.4s ease-in;
}
.t-swiper-nav__dots-item--vertical,
.t-swiper-nav__dots-bar-item--vertical {
  margin: 5px 0;
}
.t-swiper-nav__dots-item--active,
.t-swiper-nav__dots-bar-item--active {
  background-color: var(--td-swiper-nav-dot-active-color, var(--td-text-color-anti, var(--td-font-white-1, #ffffff)));
}
.t-swiper-nav__dots-bar-item--vertical.t-swiper-nav__dots-bar-item--active {
  width: var(--td-swiper-nav-dot-size, 6px);
  height: var(--td-swiper-nav-dots-bar-active-width, 20px);
}
.t-swiper-nav__dots-bar-item--active {
  width: var(--td-swiper-nav-dots-bar-active-width, 20px);
  border-radius: calc(var(--td-swiper-nav-dot-size, 6px) / 2);
  background-color: var(--td-swiper-nav-dot-active-color, var(--td-text-color-anti, var(--td-font-white-1, #ffffff)));
}
.t-swiper-nav--left {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.t-swiper-nav--right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.t-swiper-nav--top-left {
  position: absolute;
  top: 12px;
  left: 12px;
}
.t-swiper-nav--top {
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translateX(-50%);
}
.t-swiper-nav--top-right {
  position: absolute;
  top: 12px;
  right: 12px;
}
.t-swiper-nav--bottom-left {
  position: absolute;
  left: 12px;
  bottom: 12px;
}
.t-swiper-nav--bottom {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
}
.t-swiper-nav--bottom-right {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.t-swiper-nav--vertical {
  flex-direction: column;
}
.t-swiper-nav__fraction {
  padding: 0 8px;
  height: var(--td-swiper-nav-fraction-height, 24px);
  line-height: var(--td-swiper-nav-fraction-height, 24px);
  border-radius: calc(var(--td-swiper-nav-fraction-height, 24px) / 2);
  background: var(--td-swiper-nav-fraction-bg-color, var(--td-font-gray-3, rgba(0, 0, 0, 0.4)));
  color: var(--td-swiper-nav-fraction-color, var(--td-text-color-anti, var(--td-font-white-1, #ffffff)));
  font-size: var(--td-swiper-nav-fraction-font-size, 12px);
}
.t-swiper-nav__btn {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.t-swiper-nav__btn--prev,
.t-swiper-nav__btn--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--td-swiper-nav-btn-size, 24px);
  height: var(--td-swiper-nav-btn-size, 24px);
  border-radius: 50%;
  background: var(--td-swiper-nav-btn-bg-color, var(--td-font-gray-3, rgba(0, 0, 0, 0.4)));
}
.t-swiper-nav__btn--prev::after,
.t-swiper-nav__btn--next::after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  border-color: var(--td-swiper-nav-btn-color, var(--td-text-color-anti, var(--td-font-white-1, #ffffff)));
  border-style: solid;
}
.t-swiper-nav__btn--prev {
  left: 15px;
}
.t-swiper-nav__btn--prev::after {
  margin-left: 2px;
  border-width: 1px 0 0 1px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.t-swiper-nav__btn--next {
  right: 15px;
}
.t-swiper-nav__btn--next::after {
  margin-left: -2px;
  border-width: 1px 1px 0 0;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
