.t-slider {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.t-slider--disabled .t-slider__value,
.t-slider--disabled .t-slider__range-extreme,
.t-slider--disabled .t-slider__dot-value,
.t-slider--disabled .t-slider__scale-desc {
  color: var(--td-slider-disabled-text-color, var(--td-text-color-disabled, var(--td-font-gray-4, rgba(0, 0, 0, 0.26))));
}
.t-slider--disabled .t-slider__dot {
  background-color: var(--td-slider-dot-disabled-bg-color, #fff);
  border-color: var(--td-slider-dot-disabled-border-color, #f3f3f3);
}
.t-slider--top {
  padding-top: 20px;
}
.t-slider__line {
  position: absolute;
  top: 0;
  height: var(--td-slider-bar-height, 4px);
  border-radius: calc(var(--td-slider-bar-height, 4px) / 2);
  background-color: var(--td-slider-active-color, var(--td-brand-color, var(--td-primary-color-7, #0052d9)));
}
.t-slider__line--disabled {
  background-color: var(--td-slider-disabled-color, var(--td-brand-color-disabled, var(--td-primary-color-3, #b5c7ff)));
}
.t-slider__line--capsule {
  height: var(--td-slider-capsule-line-heihgt, 18px);
}
.t-slider__line--capsule.t-slider__line--single {
  border-top-left-radius: calc(var(--td-slider-capsule-line-heihgt, 18px) / 2);
  border-bottom-left-radius: calc(var(--td-slider-capsule-line-heihgt, 18px) / 2);
}
.t-slider__dot {
  border-radius: 50%;
  border: 1px solid var(--td-slider-dot-color, var(--td-component-border, var(--td-gray-color-4, #dcdcdc)));
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(50%, -50%, 0);
  z-index: 2;
  background-color: var(--td-slider-dot-bg-color, #fff);
  width: var(--td-slider-dot-size, 20px);
  height: var(--td-slider-dot-size, 20px);
  box-shadow: var(--td-shadow-1, 0 1px 10px rgba(0, 0, 0, 0.05), 0 4px 5px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.12));
  box-sizing: border-box;
}
.t-slider__dot--left {
  left: 0;
  transform: translate3d(-50%, -50%, 0);
}
.t-slider__dot-value {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -26px;
  text-align: center;
  width: 48px;
  height: 22px;
  line-height: 22px;
}
.t-slider__value,
.t-slider__range-extreme,
.t-slider__dot-value {
  color: var(--td-slider-text-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
}
.t-slider__value--sr-only,
.t-slider__range-extreme--sr-only,
.t-slider__dot-value--sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}
.t-slider__dot-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.t-slider__value--min {
  margin-left: 16px;
}
.t-slider__value--max {
  margin-right: 16px;
}
.t-slider__bar {
  margin: 8px 16px;
  flex: 10;
  background-clip: content-box;
  height: var(--td-slider-bar-height, 4px);
  border-radius: calc(var(--td-slider-bar-height, 4px) / 2);
  position: relative;
  background-color: var(--td-slider-default-color, var(--td-bg-color-component, var(--td-gray-color-3, #e7e7e7)));
}
.t-slider__bar--capsule {
  height: var(--td-slider-capsule-bar-heihgt, 24px);
  border-radius: calc(var(--td-slider-capsule-bar-heihgt, 24px) / 2);
  background-color: var(--td-slider-capsule-bar-color, var(--td-bg-color-component, var(--td-gray-color-3, #e7e7e7)));
  border: 3px solid var(--td-slider-capsule-bar-color, var(--td-bg-color-component, var(--td-gray-color-3, #e7e7e7)));
  box-sizing: border-box;
}
.t-slider__bar--marks {
  background-color: var(--td-slider-default-color, var(--td-bg-color-component, var(--td-gray-color-3, #e7e7e7)));
}
.t-slider__bar--disabled {
  background-color: var(--td-slider-default-color, var(--td-bg-color-component-disabled, var(--td-gray-color-2, #eeeeee)));
}
.t-slider__range-extreme--min {
  margin-left: 16px;
  text-align: left;
}
.t-slider__range-extreme--max {
  margin-right: 16px;
  text-align: right;
}
.t-slider__scale-item {
  background-color: var(--td-slider-default-color, var(--td-bg-color-component, var(--td-gray-color-3, #e7e7e7)));
  width: var(--td-slider-bar-height, 4px);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  z-index: 1;
}
.t-slider__scale-item--active {
  background-color: var(--td-slider-active-color, var(--td-brand-color, var(--td-primary-color-7, #0052d9)));
}
.t-slider__scale-item--disabled {
  background-color: var(--td-slider-default-color, var(--td-bg-color-component-disabled, var(--td-gray-color-2, #eeeeee)));
}
.t-slider__scale-item--active.t-slider__scale-item--disabled {
  background-color: var(--td-slider-disabled-color, var(--td-brand-color-disabled, var(--td-primary-color-3, #b5c7ff)));
}
.t-slider__scale-item--capsule {
  height: var(--td-slider-capsule-line-heihgt, 18px);
  width: 2px;
  border-radius: 0;
  background-color: var(--td-slider-capsule-bar-color, var(--td-bg-color-component, var(--td-gray-color-3, #e7e7e7)));
  margin-top: calc(-0.5 * var(--td-slider-capsule-line-heihgt, 18px));
}
.t-slider__scale-item--hidden {
  background-color: transparent;
}
.t-slider__scale-desc {
  position: absolute;
  left: 50%;
  color: var(--td-slider-text-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
  transform: translateX(-50%);
  bottom: 16px;
}
.t-slider__scale-desc--capsule {
  bottom: 23px;
}
.t-slider--vertical {
  --td-slider-bar-height: 200px;
  height: var(--td-slider-bar-height, 4px);
  justify-content: center;
  position: relative;
}
.t-slider--vertical .t-slider__bar {
  flex: none;
  height: 100%;
  width: var(--td-slider-bar-width, 4px);
}
.t-slider--vertical .t-slider__bar--capsule {
  width: var(--td-slider-capsule-bar-width, 24px);
  border-radius: calc(var(--td-slider-capsule-bar-width, 24px) / 2);
}
.t-slider--vertical .t-slider__line {
  width: 100%;
  height: unset;
  left: 0;
  border-radius: calc(var(--td-slider-bar-width, 4px) / 2);
}
.t-slider--vertical .t-slider__line--capsule.t-slider__line--single {
  border-top-left-radius: calc(var(--td-slider-capsule-line-heihgt, 18px) / 2);
  border-top-right-radius: calc(var(--td-slider-capsule-line-heihgt, 18px) / 2);
}
.t-slider--vertical .t-slider__dot {
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.t-slider--vertical .t-slider__dot--left {
  top: 0;
  transform: translate(-50%, -50%);
  left: 50%;
}
.t-slider--vertical .t-slider__dot--right {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100%;
}
.t-slider--vertical .t-slider__dot-value {
  left: 27px;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
}
.t-slider--vertical .t-slider__range-extreme {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
.t-slider--vertical .t-slider__range-extreme--min {
  top: 0;
}
.t-slider--vertical .t-slider__range-extreme--max {
  bottom: 0;
}
.t-slider--vertical .t-slider__scale-item {
  left: 50%;
  margin-top: 0;
}
.t-slider--vertical .t-slider__scale-item--capsule {
  height: 2px;
  width: var(--td-slider-capsule-line-heihgt, 18px);
}
.t-slider--vertical .t-slider__scale-desc {
  top: 50%;
  transform: translateY(-50%);
  bottom: unset;
  left: 19px;
}
.t-slider--vertical .t-slider__scale-desc--capsule {
  left: 26px;
}
