.t-qrcode {
  position: relative;
  display: flex;
  box-sizing: border-box;
  background-color: var(--td-bg-color-container, var(--td-font-white-1, #ffffff));
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--td-component-border, var(--td-gray-color-4, #dcdcdc));
}
.t-qrcode.t-borderless {
  border-color: transparent;
}
.t-qrcode .t-mask {
  left: 0;
  top: 0;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9)));
  line-height: 22px;
  background-color: var(--td-mask-background, rgba(255, 255, 255, 0.96));
  text-align: center;
  border-radius: 6px;
  font-size: var(--td-font-size-title-small);
}
