.t-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
:deep(.t-empty__icon) {
  font-size: 96px;
  color: var(--td-empty-icon-color, var(--td-text-color-placeholder, var(--td-font-gray-3, rgba(0, 0, 0, 0.4))));
}
.t-empty__thumb + .t-empty__description:not(:empty) {
  margin-top: var(--td-empty-description-margin-top, var(--td-spacer-2, 16px));
}
.t-empty__description {
  text-align: center;
  color: var(--td-empty-description-color, var(--td-text-color-placeholder, var(--td-font-gray-3, rgba(0, 0, 0, 0.4))));
  font-size: var(--td-empty-description-font-size, var(--td-font-size-base, 14px));
  line-height: var(--td-empty-description-line-height, 22px);
  white-space: pre-wrap;
}
.t-empty__description + .t-empty__actions:not(:empty) {
  margin-top: var(--td-empty-action-margin-top, var(--td-spacer-4, 32px));
}
