.t-indexes {
  position: relative;
  height: 100vh;
}
.t-indexes__sidebar {
  position: fixed;
  right: var(--td-indexes-sidebar-right, 8px);
  width: var(--td-indexes-sidebar-item-size, 20px);
  color: var(--td-indexes-sidebar-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
  font-size: var(--td-indexes-sidebar-font-size, 12px);
  line-height: var(--td-indexes-sidebar-line-height, 20px);
  display: flex;
  flex-flow: column nowrap;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.t-indexes__sidebar-item {
  border-radius: 50%;
  position: relative;
  text-align: center;
}
.t-indexes__sidebar-item--active {
  background-color: var(--td-indexes-sidebar-active-bg-color, var(--td-brand-color, var(--td-primary-color-7, #0052d9)));
  color: var(--td-indexes-sidebar-active-color, var(--td-text-color-anti, var(--td-font-white-1, #ffffff)));
}
.t-indexes__sidebar-item + .t-indexes__sidebar-item {
  margin-top: 2px;
}
.t-indexes__sidebar-tips {
  min-width: var(--td-indexes-sidebar-tips-size, 48px);
  max-width: 99px;
  padding: 0 16px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: var(--td-indexes-sidebar-tips-size, 48px);
  line-height: var(--td-indexes-sidebar-tips-size, 48px);
  text-align: center;
  font-size: var(--td-indexes-sidebar-tips-font-size, 20px);
  font-weight: 700;
  color: var(--td-indexes-sidebar-tips-color, var(--td-brand-color, var(--td-primary-color-7, #0052d9)));
  background-color: var(--td-indexes-sidebar-tips-bg-color, var(--td-brand-color-light, var(--td-primary-color-1, #f2f3ff)));
  border-radius: var(--td-indexes-sidebar-tips-size, 48px);
  position: absolute;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  right: var(--td-indexes-sidebar-tips-right, calc(100% + 16px));
}
