.re-flex {
    display: flex;
    display: -webkit-flex;
}
.re-flex-row {
	@extend .re-flex;
	flex-direction: row;
}
.re-flex-row-center {
	@extend .re-flex-row;
	align-items: center;
	justify-content: center;
}
.re-flex-row-between {
	@extend .re-flex-row;
	align-items: center;
	justify-content: space-between;
}
.re-flex-row-reverse {
	@extend .re-flex;
	flex-direction: row-reverse;
}
.re-flex-column {
	@extend .re-flex;
	flex-direction: column;
}
.re-flex-column-reverse {
	@extend .re-flex;
	flex-direction: column-reverse;
}