.re-flex {
    display: flex;
    display: -webkit-flex;
    .re-flex-row {
        flex-direction: row;
    }
    .re-flex-row-reverse {
        flex-direction: row-reverse;
    }
    .re-flex-column {
        flex-direction: column;
    }
    .re-flex-column-reverse {
        flex-direction: column-reverse;
    }
    .re-flex-row-center {
        align-items: center;
        justify-content: center;
    }
    .ref-flex-row-between {
        align-items: center;
        justify-content: space-between;
    }
}