// 定制统一前缀
$prefix: re;

// @for $var from start |to,through| end
// 从 0 开始 至 90 结束，间隔为10
@for $i from 0 through 9 {
	.#{$prefix}-z-index-#{$i}{
		z-index: $i * 10;
	}
}

@for $i from 1 through 50 {
    .#{$prefix}-padding-#{$i}{
    	padding: $i + "rpx";
    }
    .#{$prefix}-padding-left-#{$i}{
    	padding-left: $i + "rpx";
    }
    .#{$prefix}-padding-right-#{$i}{
    	padding-right: $i + "rpx";
    }
    .#{$prefix}-padding-top-#{$i}{
    	padding-top: $i + "rpx";
    }
    .#{$prefix}-padding-bottom-#{$i}{
    	padding-bottom: $i + "rpx";
    }
    .#{$prefix}-margin-#{$i}{
    	margin: $i + "rpx";
    }
    .#{$prefix}-margin-left-#{$i}{
    	margin-left: $i + "rpx";
    }
    .#{$prefix}-margin-right-#{$i}{
    	margin-right: $i + "rpx";
    }
    .#{$prefix}-margin-top-#{$i}{
    	margin-top: $i + "rpx";
    }
    .#{$prefix}-margin-bottom-#{$i}{
    	margin-bottom: $i + "rpx";
    }
}

.#{$prefix}-flex {
    display: flex;
    display: -webkit-flex;
}
.#{$prefix}-flex-row {
	@extend .#{$prefix}-flex;
	flex-direction: row;
}
.#{$prefix}-flex-row-center {
	@extend .#{$prefix}-flex-row;
	align-items: center;
	justify-content: center;
}
.#{$prefix}-flex-row-center-start {
	@extend .#{$prefix}-flex-row;
	align-items: center;
	justify-content: flex-start;
}
.#{$prefix}-flex-row-between {
	@extend .#{$prefix}-flex-row;
	align-items: center;
	justify-content: space-between;
}
.#{$prefix}-flex-row-reverse {
	@extend .#{$prefix}-flex;
	flex-direction: row-reverse;
}
.#{$prefix}-flex-column {
	@extend .#{$prefix}-flex;
	flex-direction: column;
}
.#{$prefix}-flex-column-reverse {
	@extend .#{$prefix}-flex;
	flex-direction: column-reverse;
}

%text-center {
  text-align: center;
}

.#{$prefix}-text-center {
    @extend %text-center;
}

.#{$prefix}-text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
