// 布局
.width-half {
	width: 50%;
}
.body-contains {
    width: calc(100% - 40rpx);
    padding: 0 20rpx;
}

.bg-color-default {
	background-color: $color-grey-light;
}
.bg-color-white {
	background-color: $color-white;
}

// 头像
.avatar-circle {
    width: 150rpx;
    height: 150rpx;
    border-radius: 50%;
}
.avatar-circle-big {
    width: 200rpx;
    height: 200rpx;
    border-radius: 50%;
}

// 字体颜色
.text-black {
	color: $text-primary;
}
.text-white {
	color: $text-default;
}
.text-default {
	color: $text-success;
}
.text-success {
	color: $text-success;
}
.text-link {
	color: $text-link;
}
.text-error {
	color: $text-error;
}
// 字体加粗
.text-bold {
	font-weight: bold;
}
// 标题
.title-h1 {
    font-size: 60rpx;
    font-weight: bold;
}
.title-h2 {
    font-size: 50rpx;
    font-weight: bold;
}
.title-h3 {
    font-size: 40rpx;
    font-weight: bold;
}

.title-sub-h1 {
    font-size: 36rpx;
    font-weight: bold;
}
.title-sub-h2 {
    font-size: 30rpx;
    font-weight: bold;
}
.title-sub-h3 {
    font-size: 26rpx;
    font-weight: bold;
}

// table
.table-box {
	padding: 10rpx 20rpx;
}
.table-tr {
	padding: 25rpx 0;
}
.table-th {
	font-size: 36rpx;
	font-weight: bold;
}
.table-td {
	font-size: 36rpx;
	font-weight: normal;
}

// 自定义表单
.form-box {
    margin: 30rpx 0;
	.form-item {
		margin-bottom: 30rpx;
		display: flex;
		display: -webkit-flex;
	}
	.form-title {
		font-size: 36rpx;
		font-weight: bold;
		margin-bottom: 20rpx;
		margin-right: 10rpx;
	}
	.form-label {
		font-size: 36rpx;
		font-weight: bold;
		margin-right: 10rpx;
	}
	.form-value {
		font-size: 36rpx;
		font-weight: bold;
	}
	.form-tips {
		font-size: 36rpx;
		font-weight: bold;
		margin-bottom: 20rpx;
		margin-right: 10rpx;
	}
}

// 按钮
.btn-text-mini {
	padding: 5rpx 20rpx;
	border-radius: 10rpx;
	border: 1rpx solid #CCC;
}
.btn-default {
	font-size: 24rpx;
	color: #FFF;
}
.btn-success {
    background-color: $btn-success;
    color: $text-default;
}
.btn-error {
    background-color: $btn-error;
    color: $text-default;
}
.btn-waring {
    background-color: $btn-waring;
    color: $text-default;
}

// 中横线
.line-default {
    width: 100%;
    height: 1rpx;
    background-color: $color-grey-light;
}

// modal 弹窗相关 start
.modal-body {
	width: 100%;
	min-width: 500rpx;
	min-height: 200rpx;
}
.modal-btn-box {
	width: 100%;
}
// modal 弹窗相关 end
