.t-dialog {
  overflow: hidden;
  width: var(--td-dialog-width, 311px);
  border-radius: var(--td-dialog-border-radius, var(--td-radius-extraLarge, 12px));
  background-color: var(--td-bg-color-container, var(--td-font-white-1, #ffffff));
}
.t-dialog__wrapper {
  --td-popup-border-radius: var(--td-dialog-border-radius, var(--td-radius-extraLarge, 12px));
}
.t-dialog__close-btn {
  position: absolute;
  top: var(--td-spacer, 8px);
  right: var(--td-spacer, 8px);
  color: var(--td-dialog-close-color, var(--td-text-color-placeholder, var(--td-font-gray-3, rgba(0, 0, 0, 0.4))));
  z-index: 1;
  /* skyline适配新增 */
}
.t-dialog__content {
  padding-top: var(--td-spacer-3, 24px);
  padding-right: var(--td-spacer-3, 24px);
  padding-bottom: 0;
  padding-left: var(--td-spacer-3, 24px);
  max-height: var(--td-dialog-body-max-height, 456px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--td-font-size-m, 16px);
}
.t-dialog__content:empty {
  display: none;
}
.t-dialog__header {
  text-align: center;
  font-weight: bold;
  font-size: var(--td-dialog-title-font-size, 18px);
  line-height: var(--td-dialog-title-line-height, 26px);
  color: var(--td-dialog-title-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
}
.t-dialog__header + .t-dialog__body {
  margin-top: var(--td-spacer, 8px);
}
.t-dialog__body {
  overflow-y: scroll;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  font-size: var(--td-dialog-content-font-size, 16px);
  color: var(--td-dialog-content-color, var(--td-text-color-secondary, var(--td-font-gray-2, rgba(0, 0, 0, 0.6))));
  line-height: var(--td-dialog-content-line-height, 24px);
}
.t-dialog__body-text {
  word-wrap: break-word;
}
.t-dialog__body--left {
  text-align: left;
}
.t-dialog__body--right {
  text-align: right;
}
.t-dialog__footer {
  display: flex;
  padding: var(--td-spacer-3, 24px);
}
.t-dialog__footer--column {
  flex-flow: column-reverse;
}
.t-dialog__footer--column :deep(.t-dialog__button) {
  width: 100%;
}
.t-dialog__footer--full {
  padding: var(--td-spacer-4, 32px) 0 0;
}
:deep(.t-dialog__button) {
  position: relative;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
:deep(.t-dialog__button)--horizontal:not(:first-child) {
  margin-left: var(--td-spacer-1, 12px);
}
:deep(.t-dialog__button)--vertical:not(:first-child) {
  margin-bottom: var(--td-spacer-1, 12px);
}
:deep(.t-dialog__button)--text {
  flex: 1;
  --td-button-border-radius: 0;
  --td-button-medium-height: 56px;
  border-radius: 0;
}
:deep(.t-dialog__button)--text:before {
  content: ' ';
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-top: 1px solid var(--td-border-level-1-color, var(--td-gray-color-3, #e7e7e7));
  border-left: 1px solid var(--td-border-level-1-color, var(--td-gray-color-3, #e7e7e7));
  transform: scale(0.5);
  transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-radius: 0;
}
