.t-toast {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12001;
  opacity: 1;
  transition: opacity 300ms ease;
  background-color: var(--td-toast-bg-color, var(--td-mask-active, rgba(0, 0, 0, 0.6)));
  border-radius: var(--td-toast-radius, 4px);
  font-size: 14px;
  color: var(--td-toast-color, var(--td-text-color-anti, var(--td-font-white-1, #ffffff)));
  max-width: var(--td-toast-max-width, 187px);
  min-height: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}
.t-toast--column {
  padding: 24px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-toast--loading.t-toast--with-text {
  min-width: 102px;
  min-height: 102px;
  padding-top: 0;
  padding-bottom: 0;
}
.t-toast__content {
  align-items: center;
  line-height: 22px;
}
.t-toast__content--row {
  display: flex;
  text-align: left;
  padding: 14px 22px;
}
.t-toast__content--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:deep(.t-toast__icon)--row {
  display: flex;
  font-size: var(--td-toast-row-icon-size, 24px);
}
:deep(.t-toast__icon)--column {
  font-size: var(--td-toast-column-icon-size, 32px);
}
.t-toast__text {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}
.t-toast__text--column:not(:empty):not(:only-child) {
  margin-top: 8px;
}
.t-toast__text--row:not(:empty):not(:only-child) {
  margin-left: 8px;
}
.t-toast.t-fade-enter,
.t-toast.t-fade-leave-to {
  opacity: 0;
}
