.t-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t-search__label {
  padding: 4px;
  color: var(--td-search-label-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
}
.t-search__input-box {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  height: var(--td-search-height, 40px);
  align-items: center;
  border: 1px solid var(--td-search-bg-color, var(--td-bg-color-secondarycontainer, var(--td-gray-color-1, #f3f3f3)));
  background: var(--td-search-bg-color, var(--td-bg-color-secondarycontainer, var(--td-gray-color-1, #f3f3f3)));
  padding: var(--td-search-padding, 8px 12px);
}
.t-search__input-box.t-is-focused {
  border-color: var(--td-search-bg-color, var(--td-bg-color-secondarycontainer, var(--td-gray-color-1, #f3f3f3)));
}
.t-search__input-box--round {
  border-radius: calc(var(--td-search-height, 40px) / 2);
}
.t-search__input-box--square {
  border-radius: var(--td-search-square-radius, var(--td-radius-default, 6px));
}
.t-search__input-box--center {
  text-align: center;
}
.t-search__input-box .t-input__keyword {
  display: inline-block;
  flex: 1;
  color: var(--td-search-text-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
  font-size: var(--td-search-font-size, var(--td-font-size-m, 16px));
  padding-left: 5px;
  min-height: 24px;
  line-height: 24px;
  background: inherit;
}
.t-search__input-box .t-input--disabled {
  color: var(--td-search-disabled-text-color, var(--td-text-color-disabled, var(--td-font-gray-4, rgba(0, 0, 0, 0.26))));
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: currentColor;
}
.t-search__input-box .t-icon {
  color: var(--td-search-icon-color, var(--td-text-color-placeholder, var(--td-font-gray-3, rgba(0, 0, 0, 0.4))));
  font-size: var(--td-search-icon-font-size, 24px);
}
.t-search__clear {
  position: relative;
  margin-left: 10px;
  font-size: var(--td-search-clear-icon-font-size, 24px);
  color: var(--td-search-clear-icon-color, var(--td-text-color-placeholder, var(--td-font-gray-3, rgba(0, 0, 0, 0.4))));
}
.t-search__search-action {
  margin-left: 15px;
  font-size: var(--td-search-font-size, var(--td-font-size-m, 16px));
  color: var(--td-search-action-color, var(--td-brand-color, var(--td-primary-color-7, #0052d9)));
}
.t-search__placeholder {
  color: var(--td-search-placeholder-color, var(--td-text-color-placeholder, var(--td-font-gray-3, rgba(0, 0, 0, 0.4))));
}
.t-search__placeholder--center {
  text-align: center;
}
:deep(.t-search__result-item--highLight) {
  color: var(--td-search-result-high-light-color, var(--td-brand-color, var(--td-primary-color-7, #0052d9)));
}
.t-search__result-list :deep(.t-search__result-item) {
  padding-left: 0;
}
.t-search__result-list :deep(.t-search__result-item)::after {
  left: 0;
}
