:host {
  display: flex;
}
.t-step--vertical {
  padding-right: 16px;
}
.t-steps {
  display: flex;
  width: 100%;
}
.t-steps--vertical {
  flex-direction: column;
}
.t-steps--reverse {
  flex-direction: row-reverse;
}
.t-steps--vertical.t-steps--reverse {
  flex-direction: column-reverse;
}
