:host {
  display: flex;
}
.t-picker-item__group {
  height: var(--td-picker-group-height, 200px);
  overflow: hidden;
  flex: 1;
  z-index: 1;
}
.t-picker-item__wrapper {
  padding: 72px 0;
}
.t-picker-item__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--td-picker-item-color, var(--td-text-color-secondary, var(--td-font-gray-2, rgba(0, 0, 0, 0.6))));
  font-size: var(--td-picker-item-font-size, var(--td-font-size-m, 16px));
}
.t-picker-item__item-icon {
  font-size: 18px;
  margin-right: var(--td-spacer, 8px);
}
.t-picker-item__item-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.t-picker-item__item--active {
  color: var(--td-picker-item-active-color, var(--td-text-color-primary, var(--td-font-gray-1, rgba(0, 0, 0, 0.9))));
  font-weight: 600;
}
