.demo-block {
  margin: var(--td-spacer-4, 32px) 0 0;
}
.demo-block__header {
  color: var(--bg-color-demo-title);
  margin: 0 var(--td-spacer-2, 16px);
}
.demo-block__header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.demo-block__header-desc {
  margin-top: var(--td-spacer, 8px);
  font-size: var(--td-font-size-base, 14px);
  white-space: pre-line;
  color: var(--bg-color-demo-desc);
  line-height: 22px;
}
.demo-block__oper {
  margin-top: var(--td-spacer, 8px);
}
.demo-block__oper-subtitle {
  font-size: var(--td-font-size-s, 12px);
  margin-bottom: var(--td-spacer-2, 16px);
  opacity: 0.4;
}
.demo-block__oper-btn {
  margin: 0 0 var(--td-spacer-2, 16px) 0;
  height: 48px;
}
.demo-block__slot {
  margin-top: var(--td-spacer-2, 16px);
}
.demo-block__slot.with-padding {
  margin-top: var(--td-spacer-2, 16px);
  margin-left: var(--td-spacer-2, 16px);
  margin-right: var(--td-spacer-2, 16px);
  margin-bottom: 0;
}
.demo-block_notitle {
  margin-top: 0px;
}
.demo-block_notitle .demo-block_subtitle {
  margin-top: var(--td-spacer-3, 24px);
}
